__pycache__
*.pyc
.tags

.idea_modules
.DS_Store
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target
app/
/tmp/
.idea/*
.vscode/*
.vs/*

airflow.cfg
unittests.cfg
airflow-webserver.pid
logs/
home/
/venv/
/.venv/
/.idea/codeStyles/
/.idea/misc.xml
/.idea/markdown.xml
/.idea/GitLink.xml
